html{
    margin: 0px;
    padding: 0px;
}
.body {
    background-color: #ccc;
}
.card-body {
    background-color: #e4e3e3;
}
.sign-img {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
}
 .nav-item> a {
    margin-left: 10px;
    margin-right: 10px;
  color: #fff;
  }